{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/cars.css' %}">
</head>
<body>

    <nav class="navbar">
        <div class="nav-left">
            <div class="logo">
                <img src="{% static 'images/image (1).png' %}" alt="Soorath Autos">
            </div>
        </div>
        
        <ul class="nav-links">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Sign In</a></li>
        </ul>
    
        <a href="#" class="contact-btn">CONTACT US</a>
    </nav>

    <div class="master">
        <div class="search_bar">
            <form action="">
                <input type="text" name="search" placeholder="Search for Cars">
            </form>
        </div>
        <div class="car_listing">
            {% for i in cars %}
            <div class="car_card">
                <img src="{{i.image.url}}" alt="Car Image"> 
                <div class="car_name">{{i.brand}} {{i.model}}</div>
                <a href="{% url 'car_description' i.id %}" style="text-decoration: none;" ><button class="view_description">View Details</button></a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>