{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

    <div class="master">
        <!-- Left Side Car Image -->
        <div class="left-img"></div>

        <!-- Login Form -->
        <div class="login-div">
            <div class="form-div">
                <h2>Welcome Back</h2>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Enter your email" required>

                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Enter your password" required>

                    <button type="submit">Login</button>

                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <!-- Register Link -->
                    <p class="register-link">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>

                </form>
            </div>
        </div>

        <!-- Right Side Car Image -->
        <div class="right-img"></div>
    </div>

</body>

</html>
