{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>

<body>

    <div class="master">
        <div class="side-bg"></div>

        <div class="form-wrapper">
            <!-- Registration Form -->
            <div class="form-div">
                <h2>Register</h2>
                <form method="POST">
                    {%csrf_token%}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <label for="name">Full Name</label>
                    <input type="text" name="name" placeholder="Enter your name">
                    {% if errors.name %}
                    <p class="error-text">{{ errors.name }}</p>
                    {% endif %}

                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Enter your email">
                    {% if errors.email %}
                    <p class="error-text">{{ errors.email }}</p>
                    {% endif %}

                    <label for="phone">Phone Number</label>
                    <input type="tel" name="phone" placeholder="Enter your phone number">
                    {% if errors.phone %}
                    <p class="error-text">{{ errors.phone }}</p>
                    {% endif %}

                    <label for="cpassword">Create Password</label>
                    <input type="password" name="cpassword" placeholder="Create a password">
                    {% if errors.cpassword %}
                    <p class="error-text">{{ errors.cpassword }}</p>
                    {% endif %}

                    <label for="password">Confirm Password</label>
                    <input type="password" name="password" placeholder="Confirm your password">
                    {% if errors.password %}
                    <p class="error-text">{{ errors.password }}</p>
                    {% endif %}

                    <button type="submit">Register</button>
                </form>
                <!-- Login Link -->
                <p class="login-text">Already registered? <a href="/login">Login here</a></p>
            </div>

            <!-- Tagline Section -->
            <div class="tagline">
                <img src="../static/images/freepik__adjust__81686.png" alt="Car" class="moving-car">
                <p>""Find It. Test It. Drive It. Own It!""</p>
            </div>
            
        </div>

        <div class="right_bg"></div>
    </div>

</body>

</html>