/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

/* Navbar */
.navbar {
    background-color: #0e0f0e;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.nav-links a.active, .nav-links a:hover {
    color: #ffcc00;
}

.contact-btn {
    background-color: transparent;
    color: #ffcc00;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #ffcc00;
    transition: all 0.3s ease-in-out;
}

.contact-btn:hover {
    background-color: #ffcc00;
    color: #0e0f0e;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    height: 620px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #0e0f0e;
    text-shadow: 2px 2px 0px #ffcc00, 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.view-more-btn {
    padding: 10px 20px;
    background-color: #0e0f0e;
    color: #ffcc00;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.view-more-btn:hover {
    background-color: #ffcc00;
    color: #0e0f0e;
}

/* About Us Section */
.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e0f0e;
    color: white;
    padding: 60px 100px;
    text-align: left;
}

.about-text {
    max-width: 600px;
}

.about-text h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.about-btn {
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #0e0f0e;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.about-btn:hover {
    background-color: white;
    color: #0e0f0e;
}

.about-image img {
    width: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(255, 204, 0, 0.3);
}


/* Slider Container */
.slider-container {
    position: relative;
    width: 550px;
    margin: 0 auto;
}